<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Test Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
</head>

<body>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
        style="z-index: 2000;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <a class="btn btn-primary open-modal-button">Add Job</a>
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('test_toc', smo=smo) }}">Test form</a>
            <span class="navbar-text">
                Job Number: {{ job_info.job_number }} | Client: {{ job_info.client }} | Standard: {{
                job_info.Standard }}
            </span>
            <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Job Details</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test_toc', smo=smo) }}">Back to TOC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test_form', smo=smo, test='A.1.2') }}">Next Test</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text">
                Job Number: {{ job_info.job_number }} | Client: {{ job_info.client }} | Standard: {{ job_info.Standard
                }}
            </span>
        </div>
    </nav> -->

            <!-- Left Panel -->
            <div class="col-md-2">
                <div class="card mt-2" style="position: fixed; width: 16%;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5>Files</h5>
                        </div>
                        <ul class="list-group list-group-flush>" style=" margin-top: 10px; margin-left: 10px;">
                            {% for file in files %}
                            <li draggable="true" id="{{file}}" class="draggable">
                                <a href="/{{smo}}/{{test}}/download/{{file}}" download
                                    data-img-src="/{{smo}}/{{test}}/download/{{file}}" class="file-link">{{ file }}</a>
                            </li>
                            {% endfor %}
                            <div id="image-preview" style="display: none; position: absolute;">
                                <img id="preview-img" src="" alt="Image preview"
                                    style="max-width:300px; max-height:300px;">
                            </div>
                            <div style=" margin-top: 20px; margin-left: 5%;">
                                <div id="qrcode" style="width: 5%;"></div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Main Form -->
            <div class="col-md-8">
                <!-- Your main form HTML here -->

                <div class="container">
                    <h1 class="mb-4">{{ test }} - {{ test_data.title }}</h1>
                    <form action="{{ url_for('test_form', smo=smo, test=test) }}" method="post"
                        enctype="multipart/form-data">

                        <fieldset class="mb-3">
                            <legend>Requirments</legend>
                            <div class="mb-3">
                                <label>
                                    <test_data class="method">{{ test_data.requirments }}
                                </label>
                            </div>
                        </fieldset>

                        <div class="mb-3">
                            <label for="operator" class="form-label">Operator</label>
                            <input type="text" class="form-control" id="operator" name="operator"
                                value="{{ test_data.operator }}">
                        </div>
                        <fieldset class="mb-3">
                            <legend>Method</legend>
                            <div class="mb-3">
                                <label>
                                    <test_data class="method">{{ test_data.method }}
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="method-comment" class="form-label">Method Comment</label>
                                <textarea class="form-control dropzone" id="method-comment" name="method-comment"
                                    rows="3">{{ test_data['method-comment'] }}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="mb-3">
                            <legend>Criteria</legend>
                            <div class="mb-3">
                                <label>
                                    <test_data class="method">{{ test_data.criteria }}
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="criteria-comment" class="form-label">Criteria Comment</label>
                                <textarea class="form-control" id="criteria-comment" name="criteria-comment"
                                    rows="3">{{ test_data['criteria-comment'] }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" name="status">
                                    <option value="not started" {% if test_data.status=='not started' %}selected{% endif
                                        %}>
                                        Not Started
                                    </option>
                                    <option value="High" {% if test_data.status=='High' %}selected{% endif %}>High
                                    </option>
                                    <option value="medium" {% if test_data.status=='medium' %}selected{% endif %}>Medium
                                    </option>
                                    <option value="low" {% if test_data.status=='low' %}selected{% endif %}>Low</option>
                                    <option value="passed" {% if test_data.status=='passed' %}selected{% endif %}>Passed
                                    </option>
                                    <option value="N/A" {% if test_data.status=='N/A' %}selected{% endif %}>N/A</option>
                                </select>
                            </div>
                        </fieldset>
                        <div class="mb-3">
                            <label for="conclusion" class="form-label">Conclusion</label>
                            <select class="form-select" name="conclusion" onchange="">
                                <option value="" {% if test_data.conclusion=='' %}selected{% endif %}></option>
                                <option value="Passed" {% if test_data.conclusion=='Passed' %}selected{% endif %}>Passed
                                </option>
                                <option value="Failed" {% if test_data.conclusion=='Failed' %}selected{% endif %}>Failed
                                </option>
                                <option value="Not Applicable" {% if test_data.conclusion=='Not Applicable' %}selected{%
                                    endif %}>N/A
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" value="{{ test_data.date }}"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="photo" class="form-label">Upload Photo</label>
                            <input type="file" class="form-control" id="photo" name="photo" accept="image/*">
                        </div>

                        <div class="mb-3">
                            <label for="other-file" class="form-label">Upload Other File</label>
                            <input type="file" class="form-control" id="other-file" name="other-file" accept="*">
                        </div>

                        <!-- Add more form elements for other test data fields -->

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Code for the QR -->
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='qrcode_generator.js') }}"></script>
    <script>
        var This_page_url = "{{ request.url }}";
    </script>
    <script>
        $(document).ready(function () {
            $(".file-link").hover(function (e) {
                var imgSrc = $(this).data('img-src');
                if (imgSrc) {
                    $("#preview-img").attr('src', imgSrc);
                    $("#image-preview").css({ top: e.pageY, left: e.pageX }).fadeIn();
                }
            }, function () {
                $("#image-preview").fadeOut();
            });
        });
    </script>
    <script>
        let dragged;

        /* events fired on the draggable target */
        document.addEventListener("dragstart", function (event) {
            // store a ref. on the dragged elem
            dragged = event.target;
            // make it half transparent
            event.target.style.opacity = .5;
        }, false);

        document.addEventListener("dragend", function (event) {
            // reset the transparency
            event.target.style.opacity = "";
        }, false);

        /* events fired on the drop targets */
        document.addEventListener("dragover", function (event) {
            // prevent default to allow drop
            event.preventDefault();
        }, false);

        document.addEventListener("drop", function (event) {
            // prevent default action (open as link for some elements)
            event.preventDefault();
            if (event.target.className == "form-control dropzone") {
                // insert dragged element's text into comment box at cursor position
                const dropzone = event.target;
                const selectionStart = dropzone.selectionStart;
                const selectionEnd = dropzone.selectionEnd;
                const textBefore = dropzone.value.substring(0, selectionStart);
                const textAfter = dropzone.value.substring(selectionEnd, dropzone.value.length);
                dropzone.value = textBefore + "![" + dragged.innerText + "]<img>"+ textAfter;
            }
        }, false);
    </script>
</body>
</html>